{% extends 'base.html' %}

{% block title %}
    Create Vacancy
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <form action="" method="post">
            {% csrf_token %}

            {% if messages %}
                <ul class="list-unstyled">
                    {% for message in messages %}
                        <li class="text-danger">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="mb-3">
                <label for="title_input" class="form-label">Title of vacancy:</label>
                <input id="title_input" name="title_input" class="form-control">
            </div>
            <div class="mb-3">
                <label for="expyear" class="form-label">Experience required:</label>
                <input id="expyear" name="expyear" class="form-control">
            </div>
            <div class="mb-3">
                <label for="salary" class="form-label">Salary:</label>
                <input id="salary" name="salary" class="form-control">
            </div>
            <div class="mb-3">
                <label for="description_input" class="form-label">Description:</label>
                <textarea id="description_input" name="description_input" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category:</label>
                <select id="category" name="category" class="form-select">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="worktype" class="form-label">Work Type:</label>
                <select id="worktype" name="worktype" class="form-select">
                    {% for worktype in worktypes %}
                        <option value="{{ worktype.id }}">{{ worktype.type_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Create vacancy</button>
        </form>
    </div>
{% endblock %}
