{% extends 'base.html' %}

{% block title %}
    Вход
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <label for="email_input">Email:</label>
        <input id="email_input" name="email" type="email">
        <br>

        <label for="password_input">Password:</label>
        <input id="password_input" name="password" type="password">
        <br>

        <input type="submit" value="Log In">
    </form>
{% endblock %}
