{% extends 'base.html' %}

{% block title %}
    Company Registration
{% endblock %}

{% block content %}
    <form action="" method="post" style="font-size: 22px;">
        {% csrf_token %}
        {% if message %}
            <h3 style="color: red" align="center">{{ message }}</h3>
        {% endif %}
        <table align="center">
            <tr>
                <td><label for="email">Email:</label></td>
                <td>
                    <input id="email" type="email" name="email" value="{{ email }}">
                </td>
            </tr>
            <tr>
                <td><label for="pass1">Password:</label></td>
                <td><input id="pass1" type="password" name="password1"></td>
            </tr>
            <tr>
                <td><label for="pass2">Confirm:</label></td>
                <td><input id="pass2" type="password" name="password2"></td>
            </tr>
            <tr>
                <td><label for="company_name">Company Name:</label></td>
                <td>
                    <input id="company_name" name="company_name" value="{{ company_name }}">
                </td>
            </tr>
            <tr>
                <td><label for="company_address">Company Address:</label></td>
                <td>
                    <input id="company_address" name="company_address" value="{{ company_address }}">
                </td>
            </tr>
            <tr>
                <td><label for="industry">Company Industry:</label></td>
                <td>
                    <input id="industry" name="industry" value="{{ industry }}">
                </td>
            </tr>
        </table>
        <center><input type="submit" value="Register Company"></center>
    </form>
{% endblock %}
