{% extends 'base.html' %}

{% block title %}
    {{ vacancy.title }}
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="container mt-5">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">{{ vacancy.title }}</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-1"><strong>Experience:</strong> {{ vacancy.expyear }} year</p>
                            <p class="mb-1"><strong>Salary:</strong> {{ vacancy.salary }}kk/ns</p>
                            <p class="mb-1"><strong>Company:</strong> {{ vacancy.company.company_name }}</p>
                            <p class="mb-1"><strong>Description:</strong> {{ vacancy.description }}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="mb-1"><strong>Location:</strong> {{ vacancy.company.company_address }}</p>
                            <p class="mb-1"><strong>Category:</strong> {{ vacancy.category.category_name }}</p>
                            <p class="mb-1"><strong>Work type:</strong> {{ vacancy.work_type.type_name }}</p>
                            <input type="submit" value="Applicant" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
