{% extends 'base.html' %}

{% block title %}
    User Profile - {{ applicant.user }}
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">User Profile - {{ applicant.user.first_name }}</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-1"><strong>Firstname:</strong> {{ applicant.user.first_name }}</p>
                    <p class="mb-1"><strong>Lastname:</strong> {{ applicant.user.last_name }}</p>
                    <p class="mb-1"><strong>Email:</strong> {{ applicant.user.email }}</p>
                    <p class="mb-1"><strong>Speciality:</strong> {{ applicant.user.specialty }}</p>
                    <p class="mb-1"><strong>Experience:</strong> {{ applicant.user.experience }}</p>
                </div>
                <div class="col-md-6">
                    <p class="mb-1"><strong>Description:</strong> {{ applicant.user.description }}</p>
                    <div class="btn-group" role="group" aria-label="Change Status">
                        <a href="{% url 'change_application_status_url' applicant.id %}?status=Approved" class="btn btn-success">Approve</a>
                        <a href="{% url 'change_application_status_url' applicant.id %}?status=Denied" class="btn btn-danger">Denied</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
